<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planets in Our Solar System</title>
  </head>
  <body>
    <ul>
      {% for user, os in user_os.items() %} {% if os == "Windows" %}
      <p>{{user}} is a Windows user</p>
      {% elif os == "Linux" %}
      <p>{{user}} is a Linux user</p>
      {% elif os == "MacOS" %}
      <p>{{user}} is a MacOS user</p>
      {% endif %} {% endfor %}
    </ul>
  </body>
</html>
